@model OneWholeSale.Model.Dto.SalesPerson.SalesPersonDto
@{
    ViewData["Title"] = "SalesPersonDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-edit"></i> Create Sales Person Details
    </h1>
</div>
<div class="row">
    <div class="col-xl-12 sortable-grid ui-sortable">
        <div id="panel-1" class="panel panel-sortable" role="widget">
            <div class="panel-hdr" role="heading">
                <h2 class="ui-sortable-handle">
                    Sales Person Details
                </h2>
                <div class="panel-saving mr-2" style="display:none"><i class="fal fa-spinner-third fa-spin-4x fs-xl"></i></div><div class="panel-toolbar" role="menu"><a href="#" class="btn btn-panel hover-effect-dot js-panel-collapse waves-effect waves-themed" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></a> <a href="#" class="btn btn-panel hover-effect-dot js-panel-fullscreen waves-effect waves-themed" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></a> <a href="#" class="btn btn-panel hover-effect-dot js-panel-close waves-effect waves-themed" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></a></div><div class="panel-toolbar" role="menu"><a href="#" class="btn btn-toolbar-master waves-effect waves-themed" data-toggle="dropdown"><i class="fal fa-ellipsis-v"></i></a><div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0"><a href="#" class="dropdown-item js-panel-refresh"><span data-i18n="drpdwn.refreshpanel">Refresh Content</span></a> <a href="#" class="dropdown-item js-panel-locked"><span data-i18n="drpdwn.lockpanel">Lock Position</span></a>  <div class="dropdown-multilevel dropdown-multilevel-left">											<div class="dropdown-item">												<span data-i18n="drpdwn.panelcolor">Panel Style</span>											</div>											<div class="dropdown-menu d-flex flex-wrap" style="min-width: 9.5rem; width: 9.5rem; padding: 0.5rem"><a href="#" class="btn d-inline-block bg-primary-700 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-primary-700 bg-success-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-primary-500 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-primary-500 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-primary-600 bg-primary-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-primary-600 bg-primary-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-info-600 bg-primray-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-info-600 bg-primray-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-info-600 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-info-600 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-info-700 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-info-700 bg-success-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-success-900 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-success-900 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-success-700 bg-primary-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-success-700 bg-primary-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-success-600 bg-success-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-success-600 bg-success-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-danger-900 bg-info-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-danger-900 bg-info-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-fusion-400 bg-fusion-gradient width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-fusion-400 bg-fusion-gradient" style="margin:1px;"></a> <a href="#" class="btn d-inline-block bg-faded width-2 height-2 p-0 rounded-0 js-panel-color hover-effect-dot waves-effect waves-themed" data-panel-setstyle="bg-faded" style="margin:1px;"></a></div>										</div>  <div class="dropdown-divider m-0"></div><a href="#" class="dropdown-item js-panel-reset"><span data-i18n="drpdwn.resetpanel">Reset Panel</span></a></div></div>
            </div>
            <div class="panel-container show" role="content">
                <div class="loader"><i class="fal fa-spinner-third fa-spin-4x fs-xxl"></i></div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <form method="post" action="/Admin/SalesPersonDetails">

                            @{
                                string confirmMessage = Convert.ToString(TempData["Msg"]); string warningMessage = Convert.ToString(TempData["WMsg"]);
                            }
                            @if (!string.IsNullOrEmpty(confirmMessage))
                            {
                                <div class="alert alert-success alert-dismissable" id="divSuccessMessage">
                                    <input type="hidden" id="messagealert" value="@confirmMessage" />
                                    @confirmMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(warningMessage))
                            {
                                <div class="alert alert-warning alert-dismissable" id="divSuccessMessage">
                                    <input type="hidden" id="messagealert" value="@warningMessage" />
                                    @warningMessage
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" id="messagealert" value="0" />
                            }


                            <div class="panel-content">
                                <div class="frame-wrap">


                                    <div class="card p-3">
                                        <div class="panel-hdr " role="heading" style="background: #0069b8;">
                                            <h2 class="ui-sortable-handle" style="color: #ffffff;">
                                                Sales Person Details
                                            </h2>
                                            <div class="panel-saving mr-2" style="display:none"><i class="fal fa-spinner-third fa-spin-4x fs-xl"></i></div><div class="panel-toolbar" role="menu"></div>
                                        </div>
                                        <div class="row mb-2 mt-3">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Country: </label>
                                                    @Html.HiddenFor(x => x.Id)
                                                    @Html.DropDownListFor(x => x.Country, (IEnumerable<SelectListItem>)ViewBag.Country, new { @class = "form-select form-control", @id = "Country" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label" for="example-select">State: </label>
                                                
                                                @Html.DropDownListFor(x => x.State, (IEnumerable<SelectListItem>)ViewBag.state, new { @class = "form-select form-control", @id = "State" })

                                              @*  <select class="form-select form-control">
                                                    <option value="Odisha">Odisha</option>
                                                    
                                                </select>*@
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">District: </label>
                                                    @Html.DropDownListFor(x => x.District, (IEnumerable<SelectListItem>) ViewBag.District, new { @class = "form-select form-control", @id = "District" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2 mt-3">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Name: </label>
                                                    @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label" for="example-select">Contact No: </label>
                                                @Html.TextBoxFor(x=>x.ContactNumber,new{@class="form-control"})

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Email: </label>
                                                    @Html.TextBoxFor(x=>x.Email,new{@class="form-control"})
                                                </div>
                                            </div>
                                        </div>
                                       <div class="row mt-3">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Address: </label>
                                                    @Html.TextAreaFor(x=>x.Address,new{@class="form-control"})
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="example-select">Contact Person: </label>
                                                    @Html.TextBoxFor(x=>x.ContactPerson,new{@class="form-control"})
                                                </div>
                                            </div>
                                       </div>
                                        <div class="row mt-3">
                                            <div class="col-md-8">
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-warning waves-effect waves-themed" style="float:right;" onclick="location.reload()">Cancel</button>
                                                <button type="submit" id="submit" class="btn btn-primary waves-effect waves-themed" style="float:right;margin-right: 8px;">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Sales Person Details <span class="fw-300"><i>List</i></span>
                </h2>
            </div>

            <div class="panel-container show">
                <div class="panel-content">

                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead style="background: #0069b8;">
                            <tr role="row">
                                <th style="color: #ffffff;">Sl No</th>
                                <th style="color: #ffffff;">Country</th>
                                <th style="color: #ffffff;">State</th>
                                <th style="color: #ffffff;">District Name</th>
                                <th style="color: #ffffff;">Name</th>
                                @*<th style="color: #ffffff;">Email</th>*@
                                <th style="color: #ffffff;">Address</th>
                               
                             @*   <th style="color: #ffffff;">Contact Person</th>*@
                                <th style="color: #ffffff;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                             @if ( ViewBag.SalesPerson != null)
                            {
                                int count = 0;
                                foreach (var item in  ViewBag.SalesPerson)
                                {
                                    count = count + 1;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Country</td>
                                    <td>@item.State</td>
                                    <td>@item.DistrictName</td>
                                    <td>@item.Name</td>
                                  
                                    <td>@item.Address</td>
                                   
                                    <td>
                                            <a href="/Admin/SalesPersonDetails?id=@item.Id"><i class="fal fa-pencil" style="color:blue;"></i></a>
                                            <a href="/Admin/Delete?id=@item.Id"><i class="fal fa-trash" style="color:red;padding-left:12px;"></i></a>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




